# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# notes from chats with project team
/notes.md

# dependencies
/node_modules
/.pnp
.pnp.js

*png

*json

# testing
/coverage

# production
/build

# for main branch



# ios
ios/DerivedData
ios/App/App/public
ios/App/kaytetye stickers/Stickers.xcassets

#assets generator by imessage sticker app icons
resources/resource

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea
converter.sh


npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache
test.vim
_Kaytetyemoji.xlsx
tmp.json
_Kaytetyemoji.xlsx

# ignore android/ios for now (and main branch?)
/android
/ios
