/* get rid of material design shadow on header */
ion-header::after {
  background: none !important;
}

/* this is the container where the logo in the toolbar sits */
ion-item {
  text-align: center;
}

ion-title {
  text-align: center;
}

#home-icon-button {
  height: 6em;
  width: 8rem;
  text-align: center;
  margin-left: -2em;
  --ripple-color: transparent;
}

#homeIcon {
  margin-left: 20%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: 100%;
  text-align: center;
}
