#homeIcon {
  width:35%; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left:-1em;
}

/* get rid of material design shadow on header */
ion-header::after {
  background: none !important;
}
/* ion-toolbar { */
/*   --ion-toolbar-background:none; */
/*   --ion-toolbar-border-color:none; */

/* } */

/* #root { */
/*   background-image:url('../assets/images/background.png') !important; */
/* } */

/* change to the ochre yellow (can grab from the IndigEmoji) */
/* .ion-page  { */
/*     --ion-color-primary:red !important;  */
/* } */
