.info-container {
    text-align: left;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 2em;
    padding-top: 1em;
    padding: 2.5em;
}

.info-container strong {
    font-family: open sans;
    font-size: 20px;
    line-height: 26px;
}
.info-container h1 {
    text-align: left;
}

.info-container > p {
    font-family: open sans;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding-top: 5%;
}

.info-container > a {
    font-family: open sans;
    font-size: 16px;
    text-decoration-line: underline;
}

#slide-link {
    font-family: open sans;
    font-size: 16px;
    text-decoration-line: underline;
    color: var(--ion-color-primary, #3880ff);
}
