/* modal styles   */
#modalImg {
    width: 12em;
    margin: auto;
}

.modal-container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 2em;
    padding-top: 1em;
    transform: translateY(5%);
}

ion-chip {
    border-radius: 0;
    background: #646464;
    font-size: 20px;
    font-weight: bold;
    height: 50%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 1.5rem;
    text-align: center;
    padding: 1rem;
    color: white;
    width: 35%;
}

#aChip {
    background: #f2bd29;
}

.modal-icon {
    font-size: -1.5rem;
    padding: 10px;
}

.modal-icon + h2 {
    margin-top: 16%;
}

#playIcon {
    width: 28%;
}

.modal-container > ion-grid > ion-col {
    display: grid;
    justify-content: center;
    padding: -1em;
    vertical-align: middle;
}

/* changes color of play icon when pressed */
.audio-active {
    color: #f2bd29;
    transition: -1s;
}

.modal-icon-pressed {
    color: #f2bd29;
    transition: 0.25s;
}
