.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  border-radius:2em;
  padding-top:1em;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

ion-img  {
  width:5em;
}

/* search bar style */
.container #search {

  margin:auto;
  width:95%;
  z-index:10;
}


/* modal styles   */

#modalImg {
  width:12em;
  margin: auto;
}

.modal-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  border-radius:2em;
  padding-top:1em;
  transform: translateY(20%);
}

ion-chip {
/* background: red; */
  border-radius: 0;
  font-size: 15px;
  font-weight: bold;
  height: 3.5em;
  margin: -0.1em;
}
